.footer {
    position: relative;
}

.info-item {
    width: 20%;
    padding: 3.125rem .625rem;
    background-color: $color-red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    &__location {
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    &__phone {
        font-size: 1.25rem;
        font-weight: 700;
        &-link {
            color: #FFF;
            text-decoration: none;
            &:hover {
                color: white;
            }
        }
    }
    &__icons-box{
        display: flex;
        gap: 1.6875rem;
    }
    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        border: 2px solid white;
        border-radius: 100%;
    }
}